.resetContainer{
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
    background: var(--greenColor);
}

.resetContainer .form {
    flex-direction: column;
    width: 85%;
    gap: 20px;
}

.resetContainer .form h5{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.resetContainer .form input,
.resetContainer .form button {
    letter-spacing: 1px;
    padding: 10px;
    border-radius: calc(var(--borderRadius) - 3px);
}

.resetContainer .form button{
    cursor: pointer;
}